@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.header {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main";
}
.navigation {
  grid-area: nav;
}
.main {
  grid-area: main;
  position: relative;
  overflow-y: auto;
}
.main .img-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/aperture-black-blur-camera-274973.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}
.main .img-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(49, 48, 48, 0.575);
}
.main .landing-content {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 6rem;
  text-align: center;
}
.main .landing-content h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main .landing-content p {
  margin-bottom: 20px;
}
.main .landing-content .btn {
  padding: 0.6rem 1.2rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
footer {
  padding: 2rem;
  text-align: center;
  background-color: #333;
  color: #fff;
}
