@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  position: relative;
}
.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main";
}
@media (max-width: 800px) {
  .header {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main";
  }
  .header .navigation {
    grid-area: auto;
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 80%;
    left: -80%;
  }
  .header .navigation.active {
    left: 0;
  }
  .header .main a {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
  }
  .header .main .landing-content {
    padding: 2rem;
  }
  .header .main .landing-content p {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  .header .main .landing-content .btn {
    font-size: 1.4rem;
  }
}
.navigation {
  position: relative;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  color: #fff;
}
.navigation img {
  max-width: 100px;
  position: relative;
  bottom: 110px;
  right: 18px;
}
.navigation ul li {
  margin: 40px 0;
  list-style: none;
}
.navigation footer {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(82, 128, 253);
}

/* MEDIA QUERIES FOR MOBILE */

.main {
  grid-area: main;
  position: relative;
  overflow-y: auto;
}
.main .img-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/aperture-black-blur-camera-274973.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}
.main .img-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(49, 48, 48, 0.575);
}
.main .landing-content {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 6rem;
  text-align: center;
}
.main .landing-content h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main .landing-content p {
  margin-bottom: 20px;
}
.main .landing-content .btn {
  padding: 0.6rem 1.2rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
footer {
  padding: 2rem;
  text-align: center;
  background-color: #333;
  color: #fff;
}
